body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#content {
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#auth {
    float: right;
}

.hidden {
    display: none;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Button styles */
button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal input {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 200px;
}

.modal button {
    display: inline-block;
    margin: 10px 5px 0 0;
}

.modal label {
    display: block;
    margin: 10px 0 0 0;
}

.filters {
    margin-bottom: 20px;
}

.filters input {
    margin-right: 10px;
}

.filters button {
    margin-left: 10px;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    margin-left: 10px;
}

.view-details {
    margin-left: 10px;
    background-color: #008CBA;
}

.edit-button {
    background-color: #FFC107;
    margin-left: 10px;
}

.delete-button {
    background-color: #f44336;
    margin-left: 10px;
}
.create-button{
    background-color: #008CBA;
}
.set-admin-button{
    background-color: #9400d3;
}
.form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-modal input, .form-modal textarea {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 300px;
}
.form-modal select {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 300px;
}

.form-modal button {
    display: inline-block;
    margin: 10px 5px 0 0;
}

.form-modal label {
    display: block;
    margin: 10px 0 0 0;
}
