/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.view-details {
    margin-left: 10px;
    background-color: #008CBA;
}

.edit-button {
    background-color: #FFC107;
    margin-left: 10px;
}

.delete-button {
    background-color: #f44336;
    margin-left: 10px;
}
.create-button{
    background-color: #008CBA;
}
.set-admin-button{
    background-color: #9400d3;
}